:root{
    --primary-theme-color:#20232abf;
    --secondary-theme-color:#282c34;
    --primary-text-color:#fff ;
    --primary-highlight:#51dafb;
    --primary-font-family:monospace;
}
.body{
    background-color: var(--primary-theme-color);
    color:var(--primary-text-color);
    font-family: var(--primary-font-family);
    margin: 0;
}

.hero{
    background-image: url(https://besthqwallpapers.com/Uploads/16-10-2020/143953/thumb2-security-concept-4k-digital-art-creative-3d-lock.jpg) ;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color:var(--primary-theme-color);
    border: o.125rem solid var(--primary-highlight);
    border-radius: 1rem;
    max-width: 320px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.125rem 0.125rem white;
    transition: all 0.25s;
    text-align: center;
    padding: 1rem;

}
.img{
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    width: 256px;
    height: 256px;
}
.card:hover{
    box-shadow: 
    0 0 0.125rem 0.125rem #51dafb;
   
}
.menu{
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    list-style: none;
    display: flex;

}

